<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rich.repository.dao.WechatUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.rich.repository.entity.WechatUserInfo">
    <id column="Use_rID" jdbcType="VARCHAR" property="useRid" />
    <result column="Area_ID" jdbcType="VARCHAR" property="areaId" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="Is_Enabled" jdbcType="BIT" property="isEnabled" />
    <result column="Activity_Count" jdbcType="INTEGER" property="activityCount" />
    <result column="Business_Count" jdbcType="INTEGER" property="businessCount" />
    <result column="CreatedOn" jdbcType="TIMESTAMP" property="createdon" />
  </resultMap>
  <sql id="Base_Column_List">
    Use_rID, Area_ID, openid, unionid, nickName, avatarUrl, gender, city, province, country, 
    language, Is_Enabled, Activity_Count, Business_Count, CreatedOn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechatuserinfo
    where Use_rID = #{useRid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wechatuserinfo
    where Use_rID = #{useRid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rich.repository.entity.WechatUserInfo">
    insert into wechatuserinfo (Use_rID, Area_ID, openid, 
      unionid, nickName, avatarUrl, 
      gender, city, province, 
      country, language, Is_Enabled, 
      Activity_Count, Business_Count, CreatedOn
      )
    values (#{useRid,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{unionid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{isEnabled,jdbcType=BIT}, 
      #{activityCount,jdbcType=INTEGER}, #{businessCount,jdbcType=INTEGER}, #{createdon,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rich.repository.entity.WechatUserInfo">
    insert into wechatuserinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="useRid != null">
        Use_rID,
      </if>
      <if test="areaId != null">
        Area_ID,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
      <if test="avatarurl != null">
        avatarUrl,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="isEnabled != null">
        Is_Enabled,
      </if>
      <if test="activityCount != null">
        Activity_Count,
      </if>
      <if test="businessCount != null">
        Business_Count,
      </if>
      <if test="createdon != null">
        CreatedOn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="useRid != null">
        #{useRid,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null">
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=BIT},
      </if>
      <if test="activityCount != null">
        #{activityCount,jdbcType=INTEGER},
      </if>
      <if test="businessCount != null">
        #{businessCount,jdbcType=INTEGER},
      </if>
      <if test="createdon != null">
        #{createdon,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rich.repository.entity.WechatUserInfo">
    update wechatuserinfo
    <set>
      <if test="areaId != null">
        Area_ID = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null">
        avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        Is_Enabled = #{isEnabled,jdbcType=BIT},
      </if>
      <if test="activityCount != null">
        Activity_Count = #{activityCount,jdbcType=INTEGER},
      </if>
      <if test="businessCount != null">
        Business_Count = #{businessCount,jdbcType=INTEGER},
      </if>
      <if test="createdon != null">
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Use_rID = #{useRid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rich.repository.entity.WechatUserInfo">
    update wechatuserinfo
    set Area_ID = #{areaId,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      Is_Enabled = #{isEnabled,jdbcType=BIT},
      Activity_Count = #{activityCount,jdbcType=INTEGER},
      Business_Count = #{businessCount,jdbcType=INTEGER},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP}
    where Use_rID = #{useRid,jdbcType=VARCHAR}
  </update>
</mapper>